@using Microsoft.AspNet.Identity
@using PPIJ
@model PPIJ.Models.Area

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}
<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="@Url.Action("Index", "Admin")">SB Admin v2.0</a>
        </div>
        <!-- /.navbar-header -->
        <ul class="nav navbar-top-links navbar-right">

            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li>
                        <a href="@Url.Action("Edit", "Admin")"><i class="fa fa-user fa-fw"></i> User Profile</a>
                    </li>
                    <li class="divider"></li>
                    <li>
                        @using (Html.BeginForm("LogOff", "Admin", FormMethod.Post, new { id = "logoutForm" }))
                        {
                            @Html.AntiForgeryToken()
                            <a href="javascript:document.getElementById('logoutForm').submit()"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        }

                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>

        <!-- /.navbar-top-links -->
        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">

                    <li>
                        <a href="@Url.Action("Index", "Admin")"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                    </li>

                    <li>
                        <a href="#"><i class="fa fa-table fa-fw"></i> Tables<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="@Url.Action("Korisnik", "Admin")">korisnik</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Odgovor", "Admin")">odgovor</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Pitanje", "Admin")">pitanje</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Podrucje", "Admin")">podrucje</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Predmet", "Admin")">predmet</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Slika", "Admin")">slika</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Tema", "Admin")">tema</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Uputa", "Admin")">uputa</a>
                            </li>
                        </ul>
                    </li>

                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Area table</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Jeste li sigurni da želite ovo izbrisati?</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="text-center">
                        <input type="submit" class="btn btn-success" value="Da" />
                        @Html.ActionLink("Ne", "Podrucje", new { area = "" }, new { @class = "btn btn-danger" })
                    </div>
                }
            </div>
            <!-- /#page-wrapper -->
        </div>

        <!-- /#wrapper -->
        <!-- jQuery -->
        <script src="~/Content/bower_components/jquery/dist/jquery.min.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="~/Content/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <!-- Metis Menu Plugin JavaScript -->
        <script src="~/Content/bower_components/metisMenu/dist/metisMenu.min.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="~/Scripts/sb-admin-2.js"></script>
