@model PPIJ.Models.RegisterModel

<div class="modal fade" id="myModalR" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Registracija</h4>
            </div>
            <div class="modal-body">

                <div class="row">
                    @using (Ajax.BeginForm("Register", "Account", new AjaxOptions { UpdateTargetId = "Productresult" }, new { @class = "registerForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary("", new { @class = "text-danger" })
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Username, new { @class = "form-control", placeholder = "Korisničko ime", style = "margin-bottom: 15px;" })
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Lozinka", style = "margin-bottom: 15px;" })
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Potvrdi lozinku", style = "margin-bottom: 15px;" })
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "E-mail adresa", style = "margin-bottom: 15px;" })
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", placeholder = "Ime", style = "margin-bottom: 15px;" })
                                        <div class="validation"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12">
                                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", placeholder = "Prezime", style = "margin-bottom: 15px;" })
                                        <div class="validation"></div>
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    <input class="btn btn-primary" type="submit" style="float:right" value="REGISTRIRAJ SE" />
                                </div>
                            </div>
                        </div>
                    }
                </div>


            </div>
            <div class="modal-footer">
                <input class="btn btn-default" data-dismiss="modal" value="ZATVORI" />
            </div>
        </div>
    </div>
</div>